{
	{$TLS_MODE}
}


(base_config) {

	log {
		format console
		output stdout
	}

	encode zstd gzip
	file_server browse
	root * /srv/www/{host}

	handle_path /api* {
		reverse_proxy api:3000
	}

	handle_path /media* {
		root /srv/media
	}

	handle_path /proxy* {
		reverse_proxy {path}
	}

}


{$APEX_DOMAIN} {
	root * /srv/www
	file_server browse
}


*.{$APEX_DOMAIN} {
	import base_config
}


drive.{$APEX_DOMAIN} {
	reverse_proxy http://media
}
